body {
  color: #768390;
  background: #FFF;
  font-family: 'Rubik', sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.onboard-header{
  margin-top: 10%;
  font-weight: 300;
  color: #768390;
  padding: 3em 1em;
  text-align: center;
  text-transform: uppercase;
  /*display: block;*/
}

.onboard-title p {
  margin: 0 auto;
  font-size: 24px;
}
.onboard-title h1{
  color: #00bcd4;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 65px;
}

@media (max-width: 880px) {

  .onboard-title h1{
  font-size: 45px;
}

}

.registration-li {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 300 !important;
}
/*
.onboard-icons h1{
  font-size: 100% !important;
}*/

.onboard-icons h2{
  font-size: 100%;
}

.navbar-inverse{
  background: #00bcd4;
}

.navbar{
  border:none;
  margin:none;
  color: #fff;
}

.navbar-inverse .navbar-toggle{
  border-color: #fff;
}

.navbar-brand {
  font-weight: 500;
  color: #fff !important;
}


.navbar-inverse .navbar-nav>li>a{
  color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a:hover{
  background-color: #006775 !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #fff !important;
  color: #006775 !important;
  font-size: 16px;
  font-weight: 500;
  border-bottom-right-radius: 50%;
}



.section-text h1{
  padding-top: 100px;
  padding-bottom: 20px;
  color: #00bcd4;
  font-size: 40px;
  font-weight: 500;
}

.section-text p {
  margin: 0 auto;
  font-size: 24px;
}

.onboard-footer{
  font-weight: 300;
  color: #eee;
  background-color: #00bcd4;
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 55px 50px;
  margin-top: 80px;
}

.onboard-footer .footer-left,
.onboard-footer .footer-center,
.onboard-footer .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.onboard-footer .footer-left{
  width: 40%;
}

/* The company logo */

.onboard-footer h3{
  color:  #ffffff;
  margin: 0;
}

/* Footer links */

.onboard-footer .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.onboard-footer .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.onboard-footer .footer-company-name{
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.onboard-footer .footer-center{
  width: 35%;
}

.onboard-footer .footer-center i{
  background-color:  #666;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.onboard-footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.onboard-footer .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.onboard-footer .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.onboard-footer .footer-center p a{
  color:  #fff;
  text-decoration: none;;
}


/* Footer Right */

.onboard-footer .footer-right{
  width: 20%;
}

.onboard-footer .footer-company-about{
  line-height: 20px;
  color:  #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.onboard-footer .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.onboard-footer .footer-icons{
  margin-top: 25px;
}

.onboard-footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #666;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .onboard-footer{
    font: bold 14px sans-serif;
  }

  .onboard-footer .footer-left,
  .onboard-footer .footer-center,
  .onboard-footer .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .onboard-footer .footer-center i{
    margin-left: 0;
  }

}